<head>
  <!--Connecting Bootstrap-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<div class="page-header">
  <h1>
    Dishes
    <a href="/dishes/new" class="btn btn-lg btn-success">New Dish</a>
  </h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-3"><!--left column-->
      
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :cuisine_name_cont, "Cuisine name contains" %>
      <%= f.text_field :cuisine_name_cont, :class => "form-control", :placeholder => "Cuisine name contains" %>
    </div>

<div class="form-group">
      <%= f.label :bookmarks_notes_cont, "Bookmark notes contains" %>
      <%= f.text_field :bookmarks_notes_cont, :class => "form-control", :placeholder => "Bookmark notes contains" %>
    </div>

<div class="form-group">
      <%= f.label :fans_username_cont, "User username contains" %>
      <%= f.text_field :fans_username_cont, :class => "form-control", :placeholder => "User username contains" %>
    </div>

<div class="form-group">
      <%= f.label :specialists_name_cont, "Venue name contains" %>
      <%= f.text_field :specialists_name_cont, :class => "form-control", :placeholder => "Venue name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>
</div>
      
      
    </div><!--left column-->
    
    
    
    
  <div class="col-lg-5"> <!--middle column-->
  <div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
        <th>Cuisine</th>
        <th>Actions</th>
      </tr>

      <% @dishes.each do |dish| %>

      <tr>
        <td>
          <a href="/dishes/<%= dish.id %>"> <%= dish.name %>
          </a>
          
          </td>

        <td>
          
        <% if Bookmark.where(:dish_id => dish.id).present? %>
        <a href="/venues/<%=Bookmark.find_by(:dish_id => dish.id).venue.id %>"><%=Bookmark.find_by(:dish_id => dish.id).venue.name %></a>
        <% elsif %>
          
          <li class="list-group-item">
            <form action="/create_bookmark" class="form-inline float-left" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        
              <!-- Label and input for dish_id -->
              <div class="form-group">
                 <%= select_tag(:dish_id, options_from_collection_for_select(Venue.all, :id, :name, dish.id), :class => "form-control") %>
                 
              </div>
        
            <!-- Label and input for user_id -->
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
        
        
              <button class="btn btn-primary btn">
                      <i class="fa fa-heart"></i>
                    </button>
                  </form>
                  <small class="float-right text-muted">
                    right now
                  </small>
                </li>
            </form>
          </li>
     <% end %>
        
        </td>
      
        <td>
          <% if dish.cuisine.present? %>
            <a href="/cuisines/<%= dish.cuisine.id %>">
              <%= dish.cuisine.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/dishes/<%= dish.id %>" class="btn btn-primary">Show</a>
          <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>

    </table>
    <%= paginate @dishes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
</div> <!--middle column-->



<div class="col-lg-4"> <!--right column-->
      
      
<a href="/venues/new">
<button type="button" class="btn btn-block btn-success"> Add a new venue </button>
</a>

      </div><!--right column-->
  </div>
</div>